@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.barra-navegacao {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    height: 10%;
    padding: 20px;

    font-family: "Agdasima", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;


    background-color: #00DEFF;

}

.barra-navegacao__links {
    text-decoration: none;
}

main {
    height: 80%;
    background-image: url(/assets/background-image.jpg);
    background-size: cover;
}